<div id="accordion" class = "topGameModeSelector col-xs-3 col-lg-3">
  <div class="card">
    <div class="card-header" id="flashGameHeader">
      <h5>
        <button class="btn btn-link" data-toggle="collapse" data-target = "#collapseFlash" aria-expanded="true" 
                aria-controls="collapseFlash">Flash Games</button>
      </h5>
    </div>
    <div id="collapseFlash" class="collapse show" aria-labelledby="flashGameHeader" data-parent="accordion">
      <div class="card-body">
        Flash games will be listed here.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="MobileGameHeader">
      <h5>
        <button class="btn btn-link" data-toggle="collapse" data-target = "#collapseMobile" aria-expanded="true" 
                aria-controls="collapseMobile">Mobile Games</button>
      </h5>
    </div>
    <div id="collapseMobile" class="collapse" aria-labelledby="MobileGameHeader" data-parent="accordion">
      <div class="card-body">
        Mobile games will be listed here.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="MiniGameHeader">
      <h5>
        <button class="btn btn-link" data-toggle="collapse" data-target = "#collapseMiniGames" aria-expanded="true" 
                aria-controls="collapseMiniGames">Mini Games</button>
      </h5>
    </div>
    <div id="collapseMiniGames" class="collapse" aria-labelledby="MiniGameHeader" data-parent="accordion">
      <div class="card-body">
        Mini games will be listed here.
      </div>
    </div>
  </div>
</div>
