<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #0ed1bd;">
    <a class="navbar-brand navbar-brand-custom-bold" href="#">Mockpartner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
       
      <ul class="navbar-nav">
         
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
   
         
        <li class="nav-item">
          <a class="nav-link" href="/home">Add Game</a>
        </li>
   
         
        <li class="nav-item">
          <a class="nav-link" href="#">Replays</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">Health Check</a>
        </li>
  
      </ul>
   
    </div>
    
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">    
        Hello {{playerName}} 
    </ul>
    <button type="button" class="btn btn-customNav">Log out</button>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">    
        Your balance : {{balance}} 
    </ul>
    <button type="button" class="btn btn-customNav">Refresh Balance</button>    
   
  </nav>

  <router-outlet></router-outlet>