<div class="topParamSelector col-12" style="border: 2px solid">
  <div class="row">
    <div class="globalConfig_Header col-12">
      <h5>
          Global Configuration
      </h5>
    </div>
    
    <div class="col-5">
        Force player currency: <br>
        <small>
            Check if outcomes should have the same currency as player default currency sent back in authenticate response.
        </small>
    </div>
    <div class="col-2">
      <input type="checkbox">
    </div>
    <div class="col-5">
      <button class="btn btn-primary">Update</button>
    </div>
  </div>
</div>