.topParamSelector {
    padding: 1em;
    border: 2px solid #000;
    border-radius: 5px;
    display: inline-block;
    background-color: #d3fffa;
}

.custom-form-label{
    text-align: right;
    font-weight: bold;
    padding-left: 0%;
}

.labelSelectDiv{
    display: inline-block;
    padding: 0.5em;
}
